#Header {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .logo {
        width: 5rem;
        height: 5rem;
        display: block;
        margin: 0 auto;
    }
}

.clear {
    height: 8rem;
}
