@import '../../assets/sass/global.scss';

.Pokelist{
    margin: 2rem auto;

    &__item {
        background-color: #fff;
    }
}

.pagination {
    display: flex;
    justify-content: space-between;

    .btn {
        border: 1px solid transparent;
        background-color: $blue;
        color: $light;
        padding: 1rem;

        &:disabled {
            background-color: inherit;
            color: $disable-color;  
        }
    }
}