@import "../fonts/fonts";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html,
body,
#root {
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto";
    font-size: 10px;
    color: $default-color;
    background-color: $bg-body;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $bg-body;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba($color: $silver, $alpha: 0.7);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $silver, $alpha: 1);
        cursor: pointer;
    }
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 1.8rem;
}

p,
a,
label,
span,
input {
    font-size: 1.8rem;
}

.container {
    display: flex;
    width: 100%;
    max-width: 130rem;
    max-height: calc(100vh - 80px);
    padding: 1.5rem;
    margin: 0 auto;
    overflow: auto;
}

.direction-row {
    flex-direction: row;
}

.direction-column {
    flex-direction: column;
}

/* Types */
.bug {
    background-color: #a8b820;
}

.dark {
    background-color: #705848;
}

.dragon {
    background-color: #7038f8;
}

.electric {
    background-color: #f8d030;
}

.fairy {
    background-color: #ee99ac;
}

.fighting {
    background-color: #c02038;
}

.fire {
    background-color: #f08030;
}

.flying {
    background-color: #a890f0;
}

.ghost {
    background-color: #705898;
}

.grass {
    background-color: #78c850;
}

.ground {
    background-color: #e0c068;
}

.ice {
    background-color: #98d8d8;
}

.normal {
    background-color: #a8a878;
}

.poison {
    background-color: #a040a0;
}

.psychic {
    background-color: #f85888;
}

.rock {
    background-color: #b8a038;
}

.steel {
    background-color: #b8b8d0;
}

.water {
    background-color: #6890f0;
}
